In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("http://51.91.120.89/extras/diabetes.csv")
df

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
0,6,148.0,72.0,35.0,0.0,33.6,0.627,50.0,1
1,1,85.0,66.0,29.0,0.0,26.6,0.351,31.0,0
2,8,183.0,64.0,0.0,0.0,23.3,0.672,32.0,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21.0,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33.0,1
...,...,...,...,...,...,...,...,...,...
1531,10,101.0,76.0,48.0,180.0,32.9,0.171,63.0,0
1532,2,122.0,70.0,27.0,0.0,36.8,0.340,27.0,0
1533,5,121.0,72.0,23.0,112.0,26.2,0.245,30.0,0
1534,1,126.0,60.0,0.0,0.0,30.1,0.349,47.0,1
1535,1,93.0,70.0,31.0,0.0,30.4,0.315,23.0,0

In [3]:
df.describe()

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age,outcome
count,1536.000000,1532.000000,1530.000000,1528.000000,1530.000000,1532.000000,1526.000000,1534.000000,1536.000000
mean,3.845052,120.763708,69.101961,20.498691,79.274510,31.994778,0.471843,33.230769,0.348958
std,3.368480,31.894098,19.381680,15.930062,114.895763,7.870785,0.331776,11.760723,0.476796
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243250,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,25.000000,32.000000,0.371000,29.000000,0.000000
75%,6.000000,140.000000,80.000000,32.000000,126.000000,36.600000,0.626750,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [4]:
df.columns

Index(['pregnancies', 'glucose', 'bloodpressure', 'skinthickness', 'insulin',
       'bmi', 'diabetespedigreefunction', 'age', 'outcome'],
      dtype='object')

In [5]:
for col in [ 'glucose', 'bloodpressure', 'skinthickness', 'insulin', 'bmi', 'diabetespedigreefunction', 'age']:
    df[col].replace(0, pd.np.NaN, inplace=True)
    mean_ = df[col].mean()
    df[col].fillna(mean_, inplace=True)

C:\Users\kurs\AppData\Local\Temp/ipykernel_3764/2982418525.py:2: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df[col].replace(0, pd.np.NaN, inplace=True)

In [7]:
df.to_csv("cukrzyca.csv", index=False)

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [10]:
X = df.iloc[:, :-1]
y = df.outcome

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=0)

In [12]:
model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

C:\Users\kurs\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7662337662337663

In [14]:
y_pred = model.predict(X_test)
pd.DataFrame( confusion_matrix(y_test, y_pred) )

     0   1
0  178  35
1   37  58

In [16]:
X_test.iloc[[0]]

,pregnancies,glucose,bloodpressure,skinthickness,insulin,bmi,diabetespedigreefunction,age
1408,0,102.0,86.0,17.0,105.0,29.3,0.695,27.0

In [17]:
model.predict(X_test.iloc[[0]])

array([0], dtype=int64)

In [19]:
y_test.iloc[0]

0

In [20]:
model.predict_proba(X_test.iloc[[0]])

array([[0.89973859, 0.10026141]])

In [21]:
df.outcome.value_counts()

0    1000
1     536
Name: outcome, dtype: int64