In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("http://51.91.120.89/extras/heart.csv", comment="#")
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
df.target.value_counts()

1    165
0    138
Name: target, dtype: int64

In [5]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [7]:
X = df.iloc[: , :-1]
y = df.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=0)

model = DecisionTreeClassifier(max_depth=3, random_state=0)
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

pd.DataFrame( confusion_matrix(y_test,  model.predict(X_test) ) )

0.819672131147541

    0   1
0  23   4
1   7  27

In [9]:
X = df.iloc[: , :-1]
y = df.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=0)

model = DecisionTreeClassifier(max_depth=5, random_state=0, max_features=10)
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

pd.DataFrame( confusion_matrix(y_test,  model.predict(X_test) ) )

0.8032786885245902

    0   1
0  21   6
1   6  28

In [10]:
X = df.iloc[: , :-1]
y = df.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=0)

model = DecisionTreeClassifier(max_depth=5, random_state=0, max_features=10, min_samples_leaf=4)
model.fit(X_train, y_train)
print(model.score(X_test, y_test))

pd.DataFrame( confusion_matrix(y_test,  model.predict(X_test) ) )

0.8032786885245902

    0   1
0  23   4
1   8  26

In [11]:
from sklearn.model_selection import GridSearchCV

In [12]:
model = DecisionTreeClassifier()
params = {
    "max_depth" : range(3,14),
    "max_features" : range(5, len(X.columns)+1 ),
    "min_samples_leaf": [1,2,5],
    "random_state" : [0]
}
grid = GridSearchCV(model, params, scoring="accuracy", cv=10)
grid.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid={'max_depth': range(3, 14),
                         'max_features': range(5, 14),
                         'min_samples_leaf': [1, 2, 5], 'random_state': [0]},
             scoring='accuracy')

In [13]:
grid.best_params_

{'max_depth': 3, 'max_features': 5, 'min_samples_leaf': 2, 'random_state': 0}

In [14]:
grid.best_estimator_

DecisionTreeClassifier(max_depth=3, max_features=5, min_samples_leaf=2,
                       random_state=0)

In [15]:
grid.best_score_

0.8225000000000001

In [17]:
model1 = grid.best_estimator_
y_pred = model1.predict(X_test)

In [20]:
pd.DataFrame(confusion_matrix(y_test, y_pred))

    0   1
0  19   8
1   8  26

In [22]:
pd.DataFrame( model1.feature_importances_ , X.columns).sort_values(0, ascending=False)

                 0
ca        0.447429
cp        0.215738
exang     0.169978
sex       0.066897
thal      0.063824
thalach   0.023152
age       0.012982
trestbps  0.000000
chol      0.000000
fbs       0.000000
restecg   0.000000
oldpeak   0.000000
slope     0.000000